<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBB 프로젝트</title>
    <!-- 부트스트랩적용 및 커스텀 CSS 적용 -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <!-- 부트스트랩 JS 적용 -->
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
  </head>
  <body>
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SBB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"
                >로그아웃</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}"
                >회원가입</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- th:fragment="이름" 으로 공통 태그부분 작성 -->
    <div th:fragment="formErrors" class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
    </div>
  </body>
</html>
